* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #cdcdcd;
}
legend {
  display: none;
}

#apresentacao {
  width: 1020px;
  margin: 1% auto;
  overflow: hidden;
}

h1 {
  font: 25px "Quicksand", sans-serif;
  text-align: center;
  color: #dcdcdc;
  text-shadow: 2px 2px 0 #ccc;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}

.campos {
  width: 220px;
  overflow: hidden;

}

.campos label {
  background: #4682B4;
  color: #f0f0f0;
  cursor: pointer;
  display: block;
  height: 36px;
  float: left;
  font: 16px "Quicksand", sans-serif;
  margin: 0 1px;
  padding: 7px 13px;
  border-radius: 6px;
  text-align: center;
  width: 100px;
}

.campos input {
  display: flex;
  background: #a19e9e60;
  color: #000;
  display: block;
  font: 16px "Quicksand", sans-serif;
  height: 36px;
  padding: 9px;
  width: 450px;
  border-radius: 6px;
  margin: 0px 5px 5px 0px;
   
   
  }

.campos select {
  background: #4682B4;
  border-radius: 6px;
  color: #f0f0f0;
  cursor: pointer;
  display: block;
  height: 40px;
  float: left;
  text-align: center;
  font: 18px "Quicksand", sans-serif;
  padding: 7px 13px;
  width: 100%;
  margin-bottom: 5px;
}

.campos input[type="button"] :hover {
  background-color: #000;
}
.campos input[type="button"] {
  background: #4682b4;
  border-radius: 0 6px 6px 0;
  color: #fff;
  cursor: pointer;
  height: 34px;
  font: 18px "Quicksand", sans-serif;
  padding: 2px 10px 6px;
  width: 150px;

  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.campos input[type="button"]:hover {
  background: #000000;
}
.mapSubmit{
  display:block;
  
}

#mapa {
 display: flex;
  width: 930px;
  height: 65vh;
  box-shadow: 0px 0px 18px #000;
  border-radius: 10px;
  margin: 150px 20px 20px 100px;   
  position: absolute;
}

#btnCadastrar {
  /* display: inline-block; */
  margin-top: -30px; 
  /* position: absolute;
  bottom: 0; */

}
.cadastro {
  display: flex;
  margin: 5px 5px 10px 5px;
  position:fixed;
}

.cadastro2 {
  display: flex;
  margin: 50px 5px 10px 5px;
 position:fixed;
}
#index {
  display: grid;
  text-align: center;
}
input[type="submit"] {
  background: #4682b4;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: -30px 0 5px 400px;
  font: 20px "Quicksand", sans-serif;
  padding: 7.5px 10px;
  position: absolute;
  bottom: 0;

  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
input[type="submit"]:hover {
  background: #27408B; ;
}

.ui-autocomplete {
  background: #fff;
  border-top: 1px solid #ccc;
  cursor: pointer;
  font: 15px "Quicksand", sans-serif;
  margin-left: 3px;
  width: 493px !important;
  position: fixed;
}

.ui-autocomplete .ui-menu-item {
  list-style: none outside none;
  padding: 7px 0 9px 10px;
}

.ui-autocomplete .ui-menu-item:hover {
  background: #000000;
}

.ui-autocomplete .ui-corner-all {
  color: #666 !important;
  display: block;
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  } /* Padrão */
}
@-moz-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  } /* Firefox */
}
@-webkit-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  } /* Webkit */
}
@-ms-keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  } /* IE */
}
​ @keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  } /* Padrão */
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
}
